@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

/* FONT */
$ff-title: 'Fraunces', serif;
$ff-default: 'Montserrat', serif;
$fw-default: 400;
$fw-medium: 500;
$fw-bold: 700;
$fs-small: 0.7rem;
$fs-default: 0.875rem;
$fs-large: 2rem;

$font-spacing: 1.6;

/* THEME */
$clr-dark-blue: hsl(212, 21%, 14%);
$clr-dark-gray: hsl(228, 12%, 48%);
$clr-white: hsl(0, 0%, 100%);
$clr-cream: hsl(26, 40%, 92%);
$clr-green: hsl(158, 36%, 37%);

/* CARD */
$card-size-s: 345px;
$card-size-l: 604px;
$card-banner-h-s: 245px;
$card-padding-s: 1.75rem;
$card-padding-l: 2rem;
$card-border-radius: 16px;
$card-btn-border-radius: 10px;
$card-btn-padding: 1.2rem;
$card-flow: 1rem;

.challenge {
  font-family: $ff-default;
  font-weight: $fw-default;
  font-size: $fs-default;
  color: $clr-dark-blue;
  line-height: $font-spacing;
}

//#region Mixins
@mixin emphasize-text {
  font-family: $ff-title;
  font-size: $fs-large;
  font-weight: $fw-bold;
  line-height: 1;
}
//#endregion Mixins

.challenge {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $clr-cream;
  min-height: 100vh;
}

.attribution {
  position: absolute;
  bottom: 0%;

  max-width: 60ch;
  padding: 1rem;
  margin: 0 auto;

  text-align: center;
  font-size: $fs-small;
}

.card {
  width: 90%;
  max-width: $card-size-s;
  min-height: 400px;

  border-radius: $card-border-radius;
  background-color: $clr-white;
  overflow: hidden;

  &__wrapper {
    padding: $card-padding-s;
    display: flex;
    flex-direction: column;
    gap: $card-flow;
  }

  &__banner {
    overflow: hidden;
    width: 100%;
    height: $card-banner-h-s;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__header {
    display: flex;
    flex-direction: column-reverse;
    gap: $card-flow;

    &__title {
      @include emphasize-text;
    }

    &__subtitle {
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-size: $fs-small;
      font-weight: $fw-medium;
      color: $clr-dark-gray;
    }
  }

  &__body {
    &__price-tag {
      display: flex;
      align-items: end;
      gap: $card-flow;

      &__discount {
        @include emphasize-text;
      }

      &__old {
        // Strikethrough: Use <s> tag
      }
    }
  }

  &__footer {
    &__btn {
      border-radius: $card-btn-border-radius;
      background-color: $clr-green;
      color: $clr-white;
      width: 100%;
      padding: $card-btn-padding;

      &__icon {
        font-size: 1.4rem;
        vertical-align: middle; // Align Text and Icon
      }
    }
  }
}

.img-desktop {
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Device Size Media Queries */
@media only screen and (min-width: 700px) {
  .card {
    max-width: $card-size-l;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &__wrapper {
      padding: $card-padding-l;
    }

    &__banner {
      height: 100%;
    }

    &__footer {
      margin-top: auto;
    }
  }

  .img-mobile {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .img-desktop {
    visibility: visible;
    width: 100%;
    height: 100%;
  }
}

//#region GENERIC
.text-white {
  color: $clr-white;
}

.text-green {
  color: $clr-green;
}

.flow {
  > *:not(:first-child) {
    margin-top: $card-flow;
  }
}
//#endregion GENERIC
