@import './reset.css';
@import './base.css';

#app {
  min-height: 100vh;
}

.test {
  background-color: rgb(255, 0, 0, .3);
  border: 1px solid rgb(255, 0, 0, .5);

  /* box-shadow: 15px 15px 0px 15px green; */
}

.main {
  padding: 1.3rem 2rem 1.3rem 2rem;
  max-width: 1500px;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}